<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ObrasEntities" connectionString="metadata=res://*/SqlServerDao.EntityModel.EntityModel.csdl|res://*/SqlServerDao.EntityModel.EntityModel.ssdl|res://*/SqlServerDao.EntityModel.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3CJTTB4\SQLEXPRESS;initial catalog=Obras;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>