<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>  
    <add name="ObrasEntities" connectionString="metadata=res://*/SqlServerDao.EntityModel.EntitiesModel.csdl|res://*/SqlServerDao.EntityModel.EntitiesModel.ssdl|res://*/SqlServerDao.EntityModel.EntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3CJTTB4\SQLEXPRESS;initial catalog=Obras;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>